<!-- Mensagem quando atualiza e cria-->
<% if flash[:notice]%>
	<div class= "alert alert-success" role = "alert"> <%= flash[:notice]%> </div>
<% end %>

<br>

<h3>
  <strong>Title:</strong><br></h3>
<p>
  <%= @job.title %>
</p>

<h3>
  <strong>Description:</strong><br></h3>
<p>
  <%= @job.description %>
</p>

<%= link_to 'Edit', edit_job_path(@job),class:'btn btn-outline-secondary btn-sm' %> 
<%= link_to 'Back', jobs_path, class:'btn btn-outline-info btn-sm' %>
